{{#each list}}
    <div class="col-4 {{category}}">
        <div class="tile">
            <h2>{{category}}</h2>
            <ul>
                <li>{{item}}</li>
                <li>{{type}}</li>
                <li>{{brand}}</li>
                <li>{{qty}}</li>
            </ul>
        </div>
    </div>
{{/each}}
